* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: black;
}

/* nav-section */
nav .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .logo a img {
  width: 150px;
}

nav .container ul {
  display: flex;
}

nav .container ul li {
  margin: 0 1rem;
}

nav .container ul li a  {
  color: white;
  font-weight: 500;
}

/* nav-section-end */

/* hero-section */
.hero {
  margin: 2rem 0;
}

.hero .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
  height: 700px;
  justify-items: center;
  align-content: center;
}

.hero .title {
  width: 500px;
  color: white;
  text-align: center;
}

.hero .title button {
  width: 120px;
  height: 30px;
  margin: 1rem 0;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

/* hero-section-end */

/* about-section */
.about {
  margin: 2rem 0;
}

.about .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
}

.about .title {
  color: white;
}

.about h2 {
  margin: 1rem 0;
}

.about p {
  width: 1000px;
}

/* about-section-end */

/* planet-section */
.planet {
  margin: 2rem 0;
}

.planet .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
}

.planet .title {
  color: white;
}

.planet .title h2,p {
  margin: 1rem 0;
}

.planet .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.planet .card-container {
  width: 100%;
  height: auto;
  transition: transform .2s ease-in;
  padding: 1rem;
}

.planet .card-container .content p {
  text-align: center;
  color: white;
  font-weight: bold;
}

.planet .card-container .content span {
  color: white;
}

.planet .card-container .content a img {
  width: 100%;          /* แนะนำให้ใช้ 100% เพื่อให้เต็ม container (หรือจะใช้ 300px เท่าเดิมก็ได้) */
  height: 250px;        /* กำหนดความสูงที่ต้องการ (ปรับตัวเลขได้ตามใจชอบ) */
  object-fit: cover;    /* สำคัญมาก! คำสั่งนี้จะทำให้ภาพไม่เบี้ยว */
  padding: 0;           /* แนะนำให้เอา padding ออก หรือลดลงเพื่อให้ภาพดูเต็มขึ้น */
  border-radius: 8px;   /* (แถม) ใส่ขอบมนนิดหน่อยเพื่อความสวยงาม */
  display: block;       /* ป้องกันขอบขาวด้านล่างภาพ */
}

.planet .card-container:hover {
  transform: translateY(-10px);
}