* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: black;
}

/* nav-section */
nav .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .logo a img {
  width: 150px;
}

nav .container ul {
  display: flex;
}

nav .container ul li {
  margin: 0 1rem;
}

nav .container ul li a  {
  color: white;
  font-weight: 500;
}

/* nav-section-end */

/* hero-section */
.hero {
  margin: 2rem 0;
}

.hero .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
  height: 500px;
  justify-items: center;
  align-content: center;
}

.hero .title {
  width: 500px;
  color: white;
  text-align: center;
}

.hero .title button {
  width: 120px;
  height: 30px;
  margin: 1rem 0;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

/* hero-section-end */

/* about-section */
.about {
  margin: 2rem 0;
}

.about .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2.25rem;
}

.about .title {
  color: white;
}

.about h2 {
  margin: 1rem 0;
}

.about p {
  width: 1000px;
}